# Arquivos temporários
*.log
*.tmp
*.bak
*.swp
*~

# Pastas de backup do VSCode
.vscode/
.history/

# ISO ou arquivos grandes
*.iso
*.img
*.zip
*.tar.gz

# Arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Diretórios temporários do sistema
__pycache__/
.cache/
build/
out/

# Ignorar scripts de teste ou personalizados locais
test.sh
personal.sh
